<ion-header>
        <ion-navbar  color="headercustom">
                <ion-buttons left>
                    <button ion-button [menuToggle]="activeMenu">
                        <ion-icon name="menu"></ion-icon>
                    </button>
                  
                  </ion-buttons>
                  <ion-buttons middle>
                      <img src="../../assets/imgs/madadh.png"  style="height:30px;"/>
          <br>
                      <img src="../../assets/imgs/madade.png"  style="height:25px;"/>
               
          
                    </ion-buttons>
                  
          
              <ion-buttons right>
                  <img src="../../assets/imgs/rail madad.gif" style="width:50px;" />
          
                
                </ion-buttons>
            </ion-navbar>

    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="appType" color="custom">
          <ion-segment-button value="Login" >
            Log In
          </ion-segment-button>         
          <ion-segment-button value="Register" >
            Sign Up
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
  </ion-header>



<ion-content no-padding>
    <div [ngSwitch]="appType">
        <div *ngSwitchCase="'Login'">
            <form  #f="ngForm" novalidate>
            
              <ion-grid>
                  <ion-row>
                        <ion-col col-12 col-sm col-md-3>
                                <ion-item style="padding-left:2px;text-align:center;color:red;" *ngIf="msgFlag">
                                    <ion-label stacked color="custom">Please enter correct credentials.</ion-label>
                                   
                                  </ion-item>
                          </ion-col>
                      <ion-col col-12 col-sm col-md-3>
                          <ion-item style="padding-left:2px;">
                              <ion-label stacked color="custom">Username</ion-label>
                              <ion-input type="text"  [(ngModel)]="login.uname"  name="uname"
                              required maxlength="50"></ion-input>
                            
                              <ion-icon color="custom" item-end name="person"></ion-icon>
                            </ion-item>
                    </ion-col>
                    <ion-col col-12 col-sm col-md-3>
                        <ion-item style="padding-left:2px;">
                            <ion-label stacked color="custom">Password</ion-label>
                            <ion-input type="password" [(ngModel)]="login.upswd"  name="upswd"
                            required maxlength="50"></ion-input>
                          
                            <ion-icon color="custom" item-end name="key"></ion-icon>
                          </ion-item>
                  </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 col-sm col-md-3 style="text-align:center;">
                            <button ion-button small block color="custom"
                            (click)="checklogin(f)"  >Log In</button>

                        </ion-col>

                    </ion-row>
              </ion-grid>
            </form>
        </div>
        <div *ngSwitchCase="'Register'">
            <form  #f="ngForm" novalidate>
            
              <ion-grid>
                  <ion-row>
                        <ion-col col-12 col-sm col-md-3  *ngIf="regDet.length > 0">
                                <ion-item no-lines style="padding-left:2px;text-align:center;color:red;">
                                    <ion-label stacked color="custom">{{regDet}}</ion-label>
                                   
                                  </ion-item>
                          </ion-col>
                      <ion-col col-12 col-sm col-md-3>
                          <ion-item style="padding-left:2px;">
                              <ion-label stacked color="custom">Name</ion-label>
                              <ion-input type="text" [(ngModel)]="register.username"  name="username"
                              required maxlength="150"></ion-input>
                            
                              <ion-icon color="custom" item-end name="person"></ion-icon>
                            </ion-item>
                    </ion-col>
                    <ion-col col-12>
                            Please enter alpha numeric with min length 6 only
                    </ion-col>
                    <ion-col col-12 col-sm col-md-3>
                            <ion-item style="padding-left:2px;">
                                <ion-label stacked color="custom">Password</ion-label>
                                <ion-input type="password" [(ngModel)]="register.password"
                                #password="ngModel" 
                                name="password"
                                required pattern="^[a-zA-Z0-9]{6,}"></ion-input>
                              
                                <ion-icon color="custom" item-end name="key"></ion-icon>
                              </ion-item>
                              <div ion-item no-lines 
                              style="color:red;"
                              *ngIf="register.password != null && register.password != undefined && 
                              register.password != '' && password.invalid" class="invalid-feedback">
                              
                              <div *ngIf="password.errors.pattern">Please enter a valid password</div>
                              </div>
                      </ion-col>
                      <ion-col col-12 col-sm col-md-3>
                            <ion-item style="padding-left:2px;">
                                <ion-label stacked color="custom">Confirm Password</ion-label>
                                <ion-input type="password" [(ngModel)]="register.cpassword"  name="cpassword"
                                #cpassword="ngModel" 
                                required pattern="^[a-zA-Z0-9]{6,}"></ion-input>
                                <ion-icon color="custom" item-end name="key"></ion-icon>
                              </ion-item>
                              
                              <div ion-item no-lines 
                              style="color:red;"
                              *ngIf="register.cpassword != null && register.cpassword != undefined && 
                              register.cpassword != '' && cpassword.invalid" class="invalid-feedback">
                              
                              <div *ngIf="cpassword.errors.pattern">Please enter a valid password</div>
                              </div>
                      </ion-col>
                    <ion-col col-12 col-sm col-md-3>
                        <ion-item style="padding-left:2px;">
                            <ion-label stacked color="custom">Mobile Number</ion-label>
                            <ion-input type="text"  [(ngModel)]="register.uMobile"  name="uMobile"
                            (keyup)="numberonly($event)"

                            maxlength="10"></ion-input>
                          
                            <ion-icon color="custom" item-end name="call"></ion-icon>
                          </ion-item>
                  </ion-col>
                   
                  <ion-col col-12 col-sm col-md-3>
                      <ion-item style="padding-left:2px;text-align:center;">
                          <ion-label stacked color="custom">OR</ion-label>
                         
                        </ion-item>
                </ion-col>
                <ion-col col-12 col-sm col-md-3>
                    <ion-item style="padding-left:2px;">
                        <ion-label stacked color="custom">Email Address</ion-label>
                        <ion-input type="text"  [(ngModel)]="register.uEmail"  name="uEmail"
                        maxlength="100"
                        pattern="[^ @]*@[^ @]+[.][^ @]+"  #email="ngModel"
                        ></ion-input>
                      
                        <ion-icon color="custom" item-end name="mail"></ion-icon>
                        
                      </ion-item>
                      <div ion-item no-lines 
               style="color:red;"
               *ngIf="email.invalid" class="invalid-feedback">
               <div *ngIf="email.errors.pattern">Please enter a valid email</div>
               </div>
              </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 col-sm col-md-3 style="text-align:center;">
                            <button ion-button small block color="custom" 
                            (click)="registeruser(f)" >Sign Up</button>

                        </ion-col>

                    </ion-row>
              </ion-grid>
            </form>
        </div>
    </div>
</ion-content>
