<!--<ion-header>
        <ion-navbar  color="headercustom">
                <ion-buttons left>
                    <button ion-button [menuToggle]="activeMenu">
                        <ion-icon name="menu"></ion-icon>
                    </button>
                  
                  </ion-buttons>
                  <ion-buttons middle>
                      <img src="../../assets/imgs/madadh.png"  style="height:30px;"/>
          <br>
                      <img src="../../assets/imgs/madade.png"  style="height:25px;"/>
               
          
                    </ion-buttons>
                  
          
              <ion-buttons right>
                  <img src="../../assets/imgs/rail madad.gif" style="width:50px;" />
          
                
                </ion-buttons>
            </ion-navbar>
  
    
  </ion-header>-->



<ion-content no-padding tappable (tap)="checksession()">
    
            <form  #f="ngForm" novalidate>
            
              <ion-grid>
                 
                  <ion-row>
                        <ion-col col-12 col-sm col-md-3 style="padding:0px;">
                          
                                <ion-item 
                                 no-lines style="padding-left:2px;text-align: center;font-weight:normal;">
                                    <ion-label stacked color="custom" style="font-size:13px;">Get instant help for train related complaint</ion-label>
                                   
                                   
                                  
                                   
                                  </ion-item>
                          </ion-col>
                 
                  
                      <ion-col col-12 col-sm col-md-3>

                      
                          <ion-item style="padding-left:2px;">
                              <ion-label stacked color="dark">Complaint <font color="red">*</font></ion-label>
                              <ion-select   color="custom"
                              (ionChange)="getSubComplaintList()"                
                              [(ngModel)]="trncomplaint.complaint"  name="complaint"
                              required
                              >
                              <ion-option 
                              *ngFor="let v of complaintArr"
                              value="{{v.id}}">{{v.head_en}}</ion-option>
                                </ion-select>
                             
                            
                             
                            </ion-item>
                    </ion-col>
                    <ion-col col-12 col-sm col-md-3>
                        <ion-item style="padding-left:2px;">
                            <ion-label stacked color="dark">Sub Complaint  <font color="red">*</font></ion-label>
                            <ion-select   color="custom"  (ionChange)="getconditions()"  
                            [(ngModel)]="trncomplaint.subComplaint"  name="subComplaint"            
                            
                            required
                            >
                            <ion-option 
                            *ngFor="let v of subcomplaintArr"
                            value="{{v.id}}">{{v.head_en}}</ion-option>
                              </ion-select>
                           
                          
                           
                          </ion-item>
                  </ion-col>
                  <ion-col col-12 col-sm col-md-3>
                      <ion-item style="padding-left:2px;">
                          <ion-label stacked color="dark">Incident Date  <font color="red">*</font></ion-label>
                          <ion-datetime displayFormat="DD/MM/YYYY hh:mm a" 
                          [max]="maxDate"
                          [min]="minDate"  color="custom"
                            required
                          
                          
                          [(ngModel)]="trncomplaint.incidentDate"  name="incidentDate"    ></ion-datetime>
                         
                        
                         
                        </ion-item>
                </ion-col>
                <ion-col col-12 col-sm col-md-3>
                    <ion-item style="padding-left:2px;">
                        <ion-label stacked color="dark">Complaint Description  <font color="red">*</font></ion-label>
                        <ion-textarea rows="3" type="text" 
                        maxlength="1000" required 
                        [(ngModel)]="trncomplaint.complaintDesc"  name="complaintDesc" 
                        ></ion-textarea>
  
                       
                      
                       
                      </ion-item>
              </ion-col>
              <ion-col col-12 col-sm col-md-3 *ngIf="showStation">
                  
                <ion-item style="padding-left:2px;" no-lines>
                    <ion-label stacked color="dark">Station Name  <font color="red">*</font></ion-label>
                  <!--  <ion-auto-complete [dataProvider]="completeTestService" item-content></ion-auto-complete>-->
                 
                  
                  <select-searchable
                  required
                  item-content
                  [(ngModel)]="trncomplaint.stationName"  
                  name="stationName" 
                  [items]="stationArrMod"
                  itemValueField="station_name"
                  itemTextField="station_name"
                  [canSearch]="true"
                  [hasInfiniteScroll]="true"
                  (onChange)="stationChange($event)"
                  (onSearch)="searchStation($event)"
                  (onInfiniteScroll)="getMoreStations($event)">
              </select-searchable>
                   
                  
                   
                  </ion-item>
                 
                 
          </ion-col>
           
              <ion-col col-12 col-sm col-md-3 *ngIf="!showStation">
              
                    <ion-item style="padding-left:2px;" >
                        <ion-label stacked color="dark">Journey Details  <font color="red">*</font></ion-label>
                        <ion-select   color="custom"
                        [(ngModel)]="trncomplaint.pnrUtsFlag"  name="pnrUtsFlag"               
                        (ionChange)="resetvalues()"         
                              required
                              >
                        <ion-option 
                             
                              value="P">PNR</ion-option>
                              <ion-option 
                             
                              value="U">UTS</ion-option>
                                </ion-select>
    
                       
                      
                       
                      </ion-item>
              </ion-col>
              <ion-col col-12 col-sm col-md-3 *ngIf="trncomplaint.pnrUtsFlag == 'U' && !showStation">
              
                <ion-item style="padding-left:2px;" >
                    <ion-label stacked color="dark">UTS No  <font color="red">*</font></ion-label>
                    <ion-input type="text"    maxlength="10"   
                    [(ngModel)]="trncomplaint.pnrUtsNo"  name="pnrUtsNo"  required
                    ></ion-input>

                   
                  
                   
                  </ion-item>
          </ion-col>
              <ion-col col-12 col-sm col-md-3 *ngIf="trncomplaint.pnrUtsFlag == 'P' && !showStation">
              
                    <ion-item style="padding-left:2px;" >
                        <ion-label stacked color="dark">PNR No  <font color="red">*</font></ion-label>
                        <ion-input type="text"   (keyup)="fetchpnr($event)" maxlength="10"   
                        [(ngModel)]="trncomplaint.pnrUtsNo"  name="pnrUtsNo"  required
                        ></ion-input>
    
                       
                      
                       
                      </ion-item>
              </ion-col>
              <ion-col>
                <ion-item style="padding-left:2px;" *ngIf="trncomplaint.pnrUtsFlag == 'P' && pnrFlag == true && !showStation" no-lines>
                         <ion-label stacked color="custom">Please confirm your journey details before proceeding...</ion-label>
                 </ion-item>
              </ion-col>
              <ion-col col-12 col-sm col-md-3 *ngIf="trncomplaint.pnrUtsFlag == 'U' && !showStation">
                    <ion-item style="padding-left:2px;" no-lines>
                            <ion-label stacked color="dark">Train Number  <font color="red">*</font></ion-label>
                            <select-searchable
                            required
                            item-content
                            [(ngModel)]="trncomplaint.trainNo"  name="trainNo" 
                            [items]="trainArrMod"
                            itemValueField="train_name"
                            itemTextField="train_name"
                            [canSearch]="true"
                            [hasInfiniteScroll]="true"
                            (onChange)="trainChange($event)"
                            (onSearch)="searchTrain($event)"
                            (onInfiniteScroll)="getMoreTrains($event)">
                        </select-searchable>
                      </ion-item>
                     
                       

                   
              </ion-col>
              <ion-col col-12 col-sm col-md-3 *ngIf="trncomplaint.pnrUtsFlag == 'P' && pnrFlag == true && !showStation">
              
                    <ion-item style="padding-left:2px;" >
                        <ion-label stacked color="dark">Train Number  <font color="red">*</font></ion-label>
                        <ion-input type="text"   required
                        [(ngModel)]="trncomplaint.trainNo"  name="trainNo" readonly
                        ></ion-input>
    
                       
                      
                       
                      </ion-item>
              </ion-col>
              <ion-col col-12 col-sm col-md-3 *ngIf="trncomplaint.pnrUtsFlag == 'P' && pnrFlag == true && !showStation">
              
                    <ion-item style="padding-left:2px;" >
                        <ion-label stacked color="dark">From Station</ion-label>
                        <ion-input type="text"   
                        [(ngModel)]="trncomplaint.fromStation"  name="fromStation" readonly
                        ></ion-input>
    
                       
                      
                       
                      </ion-item>
              </ion-col>
              <ion-col col-12 col-sm col-md-3 *ngIf="trncomplaint.pnrUtsFlag == 'P' && pnrFlag == true && !showStation">
              
                    <ion-item style="padding-left:2px;" >
                        <ion-label stacked color="dark">To Station</ion-label>
                        <ion-input type="text"   
                        [(ngModel)]="trncomplaint.toStation"  name="toStation" readonly
                        ></ion-input>
    
                       
                      
                       
                      </ion-item>
              </ion-col>
              <ion-col col-12 col-sm col-md-3 *ngIf="trncomplaint.pnrUtsFlag == 'P' && pnrFlag == true && !showStation">
              
                    <ion-item style="padding-left:2px;" >
                        <ion-label stacked color="dark">Boarding Station</ion-label>
                        <ion-input type="text"   
                        [(ngModel)]="trncomplaint.boardingStation"  name="boardingStation" readonly
                        ></ion-input>
    
                       
                      
                       
                      </ion-item>
              </ion-col>
              <ion-col col-12 col-sm col-md-3 *ngIf="trncomplaint.pnrUtsFlag == 'P' && pnrFlag == true && !showStation">
              
                    <ion-item style="padding-left:2px;" >
                        <ion-label stacked color="dark">Berth Class</ion-label>
                        <ion-input type="text"   
                        [(ngModel)]="trncomplaint.berthClass"  name="berthClass" readonly
                        ></ion-input>
    
                       
                      
                       
                      </ion-item>
              </ion-col>
              <ion-col col-12 col-sm col-md-3 *ngIf="trncomplaint.pnrUtsFlag == 'P' && pnrFlag == true && !showStation">
              
                    <ion-item style="padding-left:2px;" >
                        <ion-label stacked color="dark">Total Passenger</ion-label>
                        <ion-input type="text"   
                        [(ngModel)]="trncomplaint.psgnNo"  name="psgnNo" readonly
                        ></ion-input>
    
                       
                      
                       
                      </ion-item>
              </ion-col>
              <ion-col col-12 col-sm col-md-3 *ngIf="trncomplaint.pnrUtsFlag == 'P' && pnrFlag == true && !showStation">
              
                    <ion-item style="padding-left:2px;" >
                        <ion-label stacked color="dark">Total Fare</ion-label>
                        <ion-input type="text"   
                        [(ngModel)]="trncomplaint.totalFare"  name="totalFare" readonly
                        ></ion-input>
    
                       
                      
                       
                      </ion-item>
              </ion-col>
              <ion-col col-12 col-sm col-md-3>
                    <ion-item style="padding-left:2px;" *ngIf="trncomplaint.pnrUtsFlag == 'P' && pnrFlag == true && !showStation">
                        <ion-label stacked color="dark">Coach No  <font color="red">*</font></ion-label>
                        <ion-select   color="custom"
                        [(ngModel)]="trncomplaint.coachNo"  name="coachNo"            
                        
                        required
                        >
                        <ion-option 
                        *ngFor="let v of coachArr"
                        value="{{v}}">{{v}}</ion-option>
                          </ion-select>
                       
                      
                       
                      </ion-item>
              </ion-col>
              <ion-col col-12 col-sm col-md-3>
                    <ion-item style="padding-left:2px;" *ngIf="trncomplaint.pnrUtsFlag == 'P' && pnrFlag == true && !showStation">
                        <ion-label stacked color="dark">Berth/Seat No.  <font color="red">*</font></ion-label>
                        <ion-select   color="custom"
                        [(ngModel)]="trncomplaint.berthNo"  name="berthNo"            
                        
                        required
                        >
                        <ion-option 
                        *ngFor="let v of berthArr"
                        value="{{v}}">{{v}}</ion-option>
                          </ion-select>
                       
                      
                       
                      </ion-item>
              </ion-col>
              <ion-col  col-12 col-sm col-md-3>
                 
              
        
                  <img [src]="myphoto" *ngIf="myphoto" />
                  <ion-item style="padding-left:2px;" no-lines>
                    <ion-label color="dark" stacked> 
                         File
  
                      </ion-label>
                      <button small item-end ion-button type="button" (click)="takePhoto()"  color="primary">Camera</button>
                      <button small item-end ion-button  type="button" (click)="getImage()"  color="secondary">Upload</button>
                      <ion-input readonly style="height:50px;"></ion-input>
                     
                   </ion-item>
                     </ion-col>
                     <ion-col  col-12 col-sm col-md-3>
                            Only JPG, JPEG and PNG images are allowed (Max Size: 5MB).
                        </ion-col>
                    <!--<ion-col col-12 col-sm col-md-3 style="padding:0px;">
                       
                        <ion-item no-lines style="padding-left:2px;text-align: center;font-weight:bold;background-color:#f4f4f4">
                            <ion-label stacked color="custom">Passenger Details</ion-label>
                           
                           
                          
                           
                          </ion-item>
                  </ion-col>
                  <ion-col col-12 col-sm col-md-3>
              
                      <ion-item style="padding-left:2px;" >
                          <ion-label stacked color="custom">Name </ion-label>
                          <ion-label  >{{trncomplaint.complainantName}} </ion-label>
                      
      
                         
                        
                         
                        </ion-item>
                </ion-col>
                <ion-col col-12 col-sm col-md-3>
              
                    <ion-item style="padding-left:2px;" >
                        <ion-label stacked color="custom">Contact </ion-label>
                        <ion-label  >{{trncomplaint.contact}} </ion-label>

                       
                      
                       
                      </ion-item>
              </ion-col>-->
              
            
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 col-sm col-md-3 style="text-align:center;">
                            <button ion-button small  color="custom"
                            (click)="submitcomplaint(f)" >Submit</button>

                        </ion-col>

                    </ion-row>
              </ion-grid>
            </form>
  
</ion-content>
