<div *ngIf="showSplash" class="splash" >
  <img src="../../assets/imgs/loading-engine.gif" style="height: 120px;
  margin-top: -20px;">
       
    </div>
      

    
    <ion-menu [content]="content" id="menu1">
           
                              <ion-content>
                                <ion-list>
                                 <ion-list-header color="custom">
                                  MENU
                                 </ion-list-header>
                                 <ion-item  *ngIf="username!=''" (click)="pushNextPage(updateProfilePage)" >
                                   <ion-icon name="contact" item-start color="custom"></ion-icon>
                                   <ion-label>Update Profile</ion-label>
                                                               
                              </ion-item>
                              <ion-item  *ngIf="username==''"  (click)="pushNextPage(loginPage)">
                                <ion-icon name="log-in" item-start color="custom"></ion-icon>
                                <ion-label>Log In</ion-label>
                               
                             </ion-item>

                             <ion-item  *ngIf="username==''"  (click)="pushNextPageWithoutLogin(forgotPasswordPage)">
                              <ion-icon name="help-circle" item-start color="custom"></ion-icon>
                              <ion-label>Forgot Password</ion-label>
                             
                           </ion-item>
                             <ion-item  *ngIf="username!=''" (click)="logout()">
                                        <ion-icon name="log-out" item-start color="custom"></ion-icon>
                                        <ion-label>Log Out</ion-label>
                                       
                                     </ion-item>
                                     <ion-item   (click)="pushNextPageWithoutLogin(servicesPage)">
                                        <ion-icon name="link" item-start color="custom"></ion-icon>
                                        <ion-label>Other Services</ion-label>
                                       
                                     </ion-item>
                                </ion-list>
                              </ion-content>
      
      </ion-menu>
      
  <ion-nav id="nav" #content swipeBackEnabled="false" [root]="rootPage"></ion-nav>
