<ion-header>
    <ion-navbar  color="headercustom">
        <ion-buttons left>
            <button ion-button [menuToggle]="activeMenu">
                <ion-icon name="menu"></ion-icon>
            </button>
          
          </ion-buttons>
          <ion-buttons middle>
              <img src="../../assets/imgs/madadh.png"  style="height:30px;"/>
  <br>
              <img src="../../assets/imgs/madade.png"  style="height:25px;"/>
       
  
            </ion-buttons>
          
  
      <ion-buttons right>
          <img src="../../assets/imgs/rail madad.gif" style="width:50px;" />
  
        
        </ion-buttons>
    </ion-navbar>
    
  </ion-header>



<ion-content no-padding>
    
            <form  #f="ngForm" novalidate>
              <ion-grid>
                  <ion-row>
                        <ion-col col-12 col-sm col-md-3 style="padding:0px;">
                          
                                <ion-item color="custom" 
                                 no-lines style="padding-left:2px;text-align: center;font-weight:bold;">
                                    <ion-label stacked color="light" style="letter-spacing:2px;font-size:12pt;">Suggestions</ion-label>
                                   
                                   
                                  
                                   
                                  </ion-item>
                          </ion-col>
                  </ion-row>
                <ion-row>
                  <ion-col col-12 *ngIf="ref != ''" style="font-weight:bold;color:#a70a0a">
                        Your Suggestion has been registered.
                  </ion-col>
                </ion-row>
                  <ion-row>
                      
                  
                      <ion-col col-12 col-sm col-md-3>
                          <ion-item style="padding-left:2px;">
                              <ion-label stacked color="custom">Suggestion *</ion-label>
                              <ion-select   color="custom"
                              (ionChange)="getSuggestionList()"                
                              [(ngModel)]="suggestionObj.suggestionId"  name="suggestionId"
                              required
                              >
                              <ion-option 
                              *ngFor="let v of suggestionArr"
                              value="{{v.id}}">{{v.suggestion}}</ion-option>
                                </ion-select>

                            </ion-item>
                    </ion-col>

                    <ion-col col-12 col-sm col-md-3>
                        <ion-item style="padding-left:2px;">
                            <ion-label stacked color="custom">Description *</ion-label>
                            <ion-textarea rows="3" type="text" 
                            maxlength="2500" required
                            [(ngModel)]="suggestionObj.suggestionDesc"  name="suggestionDesc" 
                            ></ion-textarea>
      
                           
                          
                           
                          </ion-item>
                  </ion-col>

                  <ion-col col-12 col-sm col-md-3>
              
                      <ion-item style="padding-left:2px;" >
                          <ion-label stacked color="custom">Journey Type *</ion-label>
                          <ion-select   color="custom"
                          [(ngModel)]="suggestionObj.jouneyType"  name="jouneyType"               
                                
                                required
                                >
                          <ion-option 
                               
                                value="T">Train</ion-option>
                                <ion-option 
                               
                                value="S">Station</ion-option>
                                  </ion-select>

                        </ion-item>
                </ion-col>
                <ion-col col-12 col-sm col-md-3 *ngIf="suggestionObj.jouneyType == 'T'">
                      <ion-item style="padding-left:2px;" no-lines>
                            <ion-label stacked color="custom">Train Number *</ion-label>
                            <select-searchable
                            item-content
                            [(ngModel)]="suggestionObj.trainName"  name="trainName" 
                            [items]="trainArrMod"
                            itemValueField="train_name"
                            itemTextField="train_name"
                            [canSearch]="true"
                            [hasInfiniteScroll]="true"
                            (onChange)="trainChange($event)"
                            (onSearch)="searchTrain($event)"
                            (onInfiniteScroll)="getMoreTrains($event)">
                        </select-searchable>
                      </ion-item>
                         
                         

                   
              </ion-col>
              <ion-col col-12 col-sm col-md-3 *ngIf="suggestionObj.jouneyType == 'S'">
                
                    <ion-item style="padding-left:2px;" no-lines>
                      <ion-label stacked color="custom">Station Name *</ion-label>
                      <select-searchable
                      item-content
                      [(ngModel)]="suggestionObj.stationName"  name="stationName" 
                      [items]="stationArrMod"
                      itemValueField="station_name"
                      itemTextField="station_name"
                      [canSearch]="true"
                      [hasInfiniteScroll]="true"
                      (onChange)="stationChange($event)"
                      (onSearch)="searchStation($event)"
                      (onInfiniteScroll)="getMoreStations($event)">
                  </select-searchable>
                    </ion-item>
                   
                 

            </ion-col>

                   <!-- <ion-col col-12 col-sm col-md-3 style="padding:0px;">
                       
                        <ion-item no-lines style="padding-left:2px;text-align: center;font-weight:bold;background-color:#f4f4f4">
                            <ion-label stacked color="custom">Passenger Details</ion-label>
                           
                           
                          
                           
                          </ion-item>
                  </ion-col>
                  <ion-col col-12 col-sm col-md-3>
              
                      <ion-item style="padding-left:2px;" >
                          <ion-label stacked color="custom">Name </ion-label>
                          <ion-label  >{{suggestionObj.name}} </ion-label>

                       
                         
                        
                         
                        </ion-item>
                </ion-col>
                <ion-col col-12 col-sm col-md-3>
              
                    <ion-item style="padding-left:2px;" >
                        <ion-label stacked color="custom">Contact </ion-label>
                        <ion-label  >{{suggestionObj.contact}} </ion-label>

                      
                       
                      </ion-item>
              </ion-col>
            
            -->
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 col-sm col-md-3 style="text-align:center;">
                            <button ion-button small block color="custom"
                            (click)="submitsuggestion(f)">Submit</button>

                        </ion-col>

                    </ion-row>
              </ion-grid>
            </form>
       
</ion-content>
