<ion-header>
        <ion-navbar  color="headercustom">
                <ion-buttons left>
                    <button ion-button [menuToggle]="activeMenu">
                        <ion-icon name="menu"></ion-icon>
                    </button>
                  
                  </ion-buttons>
                  <ion-buttons middle>
                      <img src="../../assets/imgs/madadh.png"  style="height:30px;"/>
          <br>
                      <img src="../../assets/imgs/madade.png"  style="height:25px;"/>
               
          
                    </ion-buttons>
                  
          
              <ion-buttons right>
                  <img src="../../assets/imgs/rail madad.gif" style="width:50px;" />
          
                
                </ion-buttons>
            </ion-navbar>
   
    
  </ion-header>



<ion-content no-padding>
    
            <form  #f="ngForm" novalidate>
              <ion-grid>
               
                  <ion-row>
                        <ion-col col-12 col-sm col-md-3 style="padding:0px;">
                          
                                <ion-item color="custom" 
                                 no-lines style="padding-left:2px;text-align: center;font-weight:bold;">
                                    <ion-label stacked color="light" style="letter-spacing:2px;font-size:12pt;">Track Your Complaint</ion-label>
                                   
                                   
                                  
                                   
                                  </ion-item>
                          </ion-col>
                      <ion-col col-12 col-sm col-md-3>
              
                          <ion-item style="padding-left:2px;" >
                              <ion-label stacked color="custom">Complaint Reference No *</ion-label>
                              <ion-input type="text"   required maxlength="150"
                              [(ngModel)]="trackcomplaint.complaintReferenceNo"  name="complaintReferenceNo">
                              </ion-input>
      
                            </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 col-sm col-md-3 style="text-align:center;">
                            <button ion-button small block color="custom"
                            (click)="submittrack(f)"  >Submit</button>

                        </ion-col>

                    </ion-row>
                    <ion-row>
                        <ion-list *ngIf="complaintdetail.responsecode =='1'" no-padding no-lines> 
                            <ion-item >
                                <ion-label stacked color="custom">Complaint Reference No.: {{complaintdetail.complaintReferenceNo}}</ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked color="custom">Complaint Type: {{complaintdetail.complaintType}}</ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked color="custom">Complaint Sub Type: {{complaintdetail.complaintSubType}}</ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked color="custom">Registration Date:
                                        {{complaintdetail.incidentDate | date :'dd/MM/yyyy hh:mm a' }}</ion-label>
                            </ion-item>
                            <!--<ion-item>
                                <ion-label stacked color="custom">Department: {{complaintdetail.department}}</ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked color="custom">Division: {{complaintdetail.division}}</ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked color="custom">Zone: {{complaintdetail.zone}}</ion-label>
                            </ion-item>-->
                           
                            <ion-item>
                                <ion-label stacked color="custom">Status: {{complaintdetail.status}}</ion-label>
                            </ion-item>
                            <ion-item>
                             <ion-label *ngIf="complaintdetail.status == 'Closed'" stacked color="custom">Remarks: {{complaintdetail.remark}}</ion-label>
                             <ion-label *ngIf="complaintdetail.status != 'Closed'" stacked color="custom">Remarks: Under Process</ion-label>

                                </ion-item>
                            <!--
                            <ion-item>
                                <ion-label stacked color="custom">Pending/Closed By: {{complaintdetail.pending_closed_by}}</ion-label>
                            </ion-item>-->
                        </ion-list>
                    </ion-row>
              </ion-grid>
            </form>
       
</ion-content>
